    .prophet-details-container {
        display: flex;
        gap: 2rem;
        margin: 2rem 3rem;
        padding: 3rem 2rem;
        border: 0.1px solid #cfcfcf;
    }

    .prophet-details-container.search {
        padding: 3rem 1.5rem;
    }

    .prophet-details-container .image {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prophet-details-container .image img {
        display: block;
        width: 25%;
        background: #fff;
        -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
        border: 1px solid #0000004f;
        padding: 4px;
    }

    .prophet-details-container .content {
        flex-basis: 60%;
        text-align: justify;
    }

    .prophet_details_container {
        flex-direction: column;
    }

    @media (max-width: 767px) {
        .prophet-details-container {
            flex-direction: column !important;
        }

        .prophet-details-container .image img {
            width: 60%;
        }
    }
    